.email-navigation-panel {
  border-right-style: groove;
  border-right-color: lightgray;
}

.email-folders-panel {
  margin-bottom: 20px;
  height: 100%;
  //border-bottom-style: groove;
  //border-bottom-color: lightgray;
}

// .email-data-grid {
//   height: 100%;
//   color: red;
// }
