.email-navigation-panel {
  border-right-style: groove;
  border-right-color: lightgray;
}

.email-folders-panel {
  margin-bottom: 20px;
  //border-bottom-style: groove;
  //border-bottom-color: lightgray;
}
